/* Tags customization */
img {
  max-width: 100%;
}

/* Bootstrap customization */
.rounded {
  border-radius: 16px !important;
}
.rounded-lg {
  border-radius: 20px !important;
}
.rounded-sm {
  border-radius: 12px !important;
}

.btn-orange {
  background-color: #FD6C3E !important;
  border-color: #FD6C3E !important;
  color: #fff !important;
}
.btn-orange:hover,
.btn-orange:active,
.btn-orange:visited,
.btn-orange:focus {
  background-color: #fa4222 !important;
  border-color: #fa4222 !important;
}

.checked {
  color: #FFB357;
}

/* Main style */
.header {
  background-image: url("../img/header-bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 189px;
  color: #fff;
}

/* Our Materials */
.materials .card-img-top {
  max-width: 106px;
  margin-top: 60px;
  margin-bottom:  24px;
}

.materials .btn {
  width: 265px !important;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px
}


/* .wechat img {
  margin: 5px;
} */
.wechat::before {
  content: "";
  background-image: url(../img/wechat.png);
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 46px;
}
