/* Fonts */
.chinese {
  font-family: 'Noto Sans SC', sans-serif;
  /* font-size: 22px;
  line-height: 29px; */
}
.english {
  font-family: 'Poppins', sans-serif;
  /* font-size: 18px;
  line-height: 23px; */
}
.fz-22 {
  font-size: 22px;
  line-height: 29px
}
.fz-20 {
  font-size: 20px;
  line-height: 26px
}
.fz-18 {
  font-size: 18px;
}
.fz-16 {
  font-size: 16px;
}

/* Tags customization */
body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.6);
}

img {
  max-width: 100%;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 120%;
  align-items: center;
  letter-spacing: 0.2px;
  margin: 0;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 150%;
  align-items: center;
  letter-spacing: 0.2px;
  margin: 0;
}

h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 150%;
  align-items: center;
  letter-spacing: 0.2px;
  margin: 0;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
}

.about,.gallery,.video-lessons,.team,.materials,.moments,.reviews,.footer {
  margin-top: 109px;
}
.footer {
  margin-bottom: 100px;
}

/* Bootstrap customization */
.rounded {
  border-radius: 16px !important;
}
.rounded-lg {
  border-radius: 20px !important;
}
.rounded-sm {
  border-radius: 12px !important;
}

.btn-orange {
  background-color: #FD6C3E !important;
  border-color: #FD6C3E !important;
  color: #fff !important;
}
.btn-orange:hover,
.btn-orange:active,
.btn-orange:visited,
.btn-orange:focus {
  background-color: #fa4222 !important;
  border-color: #fa4222 !important;
}

.checked {
  color: #FFB357;
}

/* Modal customization */
.custom .modal-content, .custom .modal-header, .custom .modal-footer {
  background: none;
  border: none;
}

.custom .close {
  opacity: 1;
  color: #fff;
  text-shadow: none;
  font-size: 16px;
  font-weight: 400;
}
.custom .close:focus, #videoPop .video:focus {outline:0;}

/* Video modal customization */
#videoPop .modal-dialog {
  max-width: 60%;
}
#videoPop .modal-body {
  background: #DFE2E6;
  width: 100%;
  height: 72%;
  padding: 0;
  border-radius: 32px;
}
#videoPop .video {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  margin: 0;
}
#videoPop .modal-footer {
  display: block;
  color: white;
}

/* Materials modal customization */
#matPop .modal-body {
  background: #fff;
  padding: 20px 20px 0px;
  border-radius: 14px;
}
#matPop .modal-body .title {
  max-height: 56px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 56px;
  margin-bottom: 14px;
}
#matPop .modal-body .content {
  text-align: center;
  background-color: #eee;
  background-image: linear-gradient(45deg, #dddddd 3.57%, #eeeeee 3.57%, #eeeeee 50%, #dddddd 50%, #dddddd 53.57%, #eeeeee 53.57%, #eeeeee 100%);
  background-size: 19.80px 19.80px;
  max-height: 420px;
  overflow: hidden;
}
#matPop .control {
  position: relative;
  height: 74px;
}
#matPop .control .carusel-control {
  background: #DFE2E6;
  font-size: 24px;
  top: 16px;
  bottom: auto;
  position: absolute;
  width: auto;
  height: auto;
  padding: 4px;
  border-radius: 50%;
}
#matPop .control .items-num {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

@media (min-width: 576px) {
  #matPop .modal-body {
    padding: 40px 65px 0px;
  }
  #matPop .modal-body .title {
    font-size: 22px;
  }
  #matPop .modal-dialog {
    max-width: 780px
  }
  #matPop .control {
    height: 93px;
  }
}

/* Image modal customization */
#imagePop .carusel-icon {
  width: 10px;
  height: 10px;
}
#imagePop .image-carusel-control {
  top: auto;
  bottom: 5px;
  background: #000;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  width: auto;
  height: auto;
}
#imagePop .carousel-indicators {
  margin-bottom: -55px;
}
#imagePop .carousel-indicators li {
  background-color: #000;
}
#imagePop .modal-footer {
  min-height: 60px;
}

/* OWL carusel customization */
.owl-nav {
  position: absolute;
  color: white;
  font-size: 28px;
  top: 100px;
  left: 0;
  margin-left: -61px;
  width: calc(100% + 122px);
  z-index: -1;
}
.owl-nav button {
  width: 36px;
  height: 36px;
  background: #000 !important;
  border-radius: 50%;
}
.owl-nav button:hover {
  background: #222 !important;
}
.owl-nav button:active {
  background: #333 !important;
}
.owl-nav button:focus {outline:0;}
.owl-nav button span {
  display: block;
  line-height: 0;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
}
.owl-nav .disabled {
  background: none !important;
  color: #ccc !important;
  border: 1px solid #ccc !important;
}
.owl-nav .disabled:hover {
  background: none !important;
}
.owl-next {
  float: right;
}
/* Fonts */


/* Main style */
.header {
  background-image: url("../img/header-bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 173px;
  padding-top: 20px;
  color: #fff;
}
.header-contact {
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px 8% 0 0;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}
.header-contact .chinese{
  font-weight: normal;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.2px;
}
.header .squares {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -135px;
  margin-right: -50px;
}
.header .mt-5 {
  margin-top: 145px !important;
  margin-bottom: 19px !important;
}


@media screen and (max-width: 1024px) {
  .header .squares {
    width: 350px;
    height: auto;
    margin-right: 0px;
  }
}

@media screen and (max-width: 800px) {
  .header-contact {
    position: relative;
    margin-right: 0;
  }
  .header-logo {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .header {
    text-align: center;
  }
  .header h1.chinese {
    font-size: 27px;
  }
  .header .mt-5 {
    margin-top: 65px !important;
    margin-bottom: 16px !important;
  }
  .header .brand img {
    width: 182px;
    height: 42px;
  }
  .header .squares {
    position: relative;
    margin: 0;
    width: 100%;
    max-width: 350px;
  }
  .header .forwho img {
    width: 56px;
    height: auto;
  }
  .header .forwho .flex-shrink-0 {
    flex-grow: 1 !important;
    text-align: right !important;
  }
  .header .forwho .flex-grow-1 {
    text-align: left !important;
  }
  .header .slogan {
    margin-top: 30px;
  }
}

/* Video  in the carusel */
.card .video {
  object-fit: fill;
  width: 360px;
  height: 240px;
  max-width: 100%;
}
.card .video-preview {
  position: relative;
}
.card .video-preview .control {
  opacity: 0;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 100%;
  z-index: 99999999;
  transition: opacity 0.3s;
}
.card .video-preview .control:hover {
  opacity: 1;
  transition: opacity 0.3s;
}
.card .video-preview .control .btn {
  color: #4B52E6;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 0;
  font-size: 20px;
  padding: 15px;
}
.card .video-preview .control .timer {
  pointer-events: none;
  position: absolute;
  right: 0;
  bottom: 40px;
  max-width: 52px;
  max-height: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 8px;
  background: #000;
  color: #fff;
  border-radius: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.card .video-preview .control .progress {
  position: absolute;
  bottom: 30px;
  height: 6px;
  width: 100%;
  background: rgba(255,255,255,0.6);
}
.card .video-preview .control .progress-bar {
  background: #FD6C3E;
}

@media screen and (max-width: 800px) {
  .card .video {
    width: 270px;
    height: 180px;
  }
}

/* Our Materials */
.materials .card-img-top {
  max-width: 106px;
  margin-top: 60px;
  margin-bottom:  24px;
}
.materials .btn {
  width: 265px !important;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px
}

/* Moments From Our Classes */



.wechat {
  background: #fff;
  width: 205px;
  height: 60px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 1, 13, 0.12);
  font-weight: bold;
  font-size: 22px;
  line-height: 150%;
}
.wechat::before {
  content: "";
  background-image: url(../img/wechat.png);
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 46px;
}

/* Safari hack for hidding video control */
video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 1 !important;
}
