/* Tags customization */
img {
  max-width: 100%;
}

/* Bootstrap customization */
.rounded {
  border-radius: 16px !important;
}
.rounded-lg {
  border-radius: 20px !important;
}
.rounded-sm {
  border-radius: 12px !important;
}

.btn-orange {
  background-color: #FD6C3E !important;
  border-color: #FD6C3E !important;
  color: #fff !important;
}
.btn-orange:hover,
.btn-orange:active,
.btn-orange:visited,
.btn-orange:focus {
  background-color: #fa4222 !important;
  border-color: #fa4222 !important;
}

.checked {
  color: #FFB357;
}

/* Video Modal customization */
.modal-content, .modal-header, .modal-footer {
  background: none;
  border: none;
}

#videoPop .close {
  opacity: 1;
  color: #fff;
  text-shadow: none;
  font-size: 16px;
  font-weight: 400;
}
#videoPop .close:focus, #videoPop .video:focus {outline:0;}
#videoPop .modal-dialog {
  max-width: 60%;
}
#videoPop .modal-body {
  background: #DFE2E6;
  width: 100%;
  height: 72%;
  padding: 0;
  border-radius: 32px;
}
#videoPop .video {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  margin: 0;
}

/* OWL carusel customization */
.owl-nav {
  position: absolute;
  color: white;
  font-size: 28px;
  top: 100px;
  left: 0;
  margin-left: -61px;
  width: calc(100% + 122px);
  z-index: -1;
}
.owl-nav button {
  width: 36px;
  height: 36px;
  background: #000 !important;
  border-radius: 50%;
}
.owl-nav button:hover {
  background: #222 !important;
}
.owl-nav button:active {
  background: #333 !important;
}
.owl-nav button:focus {outline:0;}
.owl-nav button span {
  display: block;
  line-height: 0;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
}
.owl-nav .disabled {
  background: none !important;
  color: #ccc !important;
  border: 1px solid #ccc !important;
}
.owl-nav .disabled:hover {
  background: none !important;
}
.owl-next {
  float: right;
}
/* Fonts */


/* Main style */
.header {
  background-image: url("../img/header-bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 189px;
  color: #fff;
}

/* Video  in the carusel */
.card .video {
  object-fit: fill;
  width: 360px;
  height: 240px;
  max-width: 100%;
}
.card .video-preview {
  position: relative;
}
.card .video-preview .control {
  opacity: 0;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 100%;
  z-index: 99999999;
  transition: opacity 0.3s;
}
.card .video-preview .control:hover {
  opacity: 1;
  transition: opacity 0.3s;
}
.card .video-preview .control .btn {
  color: #4B52E6;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 0;
  font-size: 20px;
  padding: 15px;
}
.card .video-preview .control .timer {
  pointer-events: none;
  position: absolute;
  right: 0;
  bottom: 40px;
  max-width: 52px;
  max-height: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 8px;
  background: #000;
  color: #fff;
  border-radius: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.card .video-preview .control .progress {
  position: absolute;
  bottom: 30px;
  height: 6px;
  width: 100%;
  background: rgba(255,255,255,0.6);
}
.card .video-preview .control .progress-bar {
  background: #FD6C3E;
}

@media screen and (max-width: 800px) {
  .card .video {
    width: 270px;
    height: 180px;
  }
}

/* Our Materials */
.materials .card-img-top {
  max-width: 106px;
  margin-top: 60px;
  margin-bottom:  24px;
}
.materials .btn {
  width: 265px !important;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px
}

/* Moments From Our Classes */


/* .wechat img {
  margin: 5px;
} */
.wechat::before {
  content: "";
  background-image: url(../img/wechat.png);
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 46px;
}
